/* Modify Tildes' theme by https://gitlab.com/rorso */
body,
article,
aside,
body > main,
table tr {
    background-color: #000 !important;
    color: #666
}
table td {
    border-color: green !important
}
a,
a:visited {
    color: green !important
}
.is-comment-mine > .comment-itself a,
.is-comment-mine > .comment-itself a:visited {
    color: white !important
}
a.btn-primary,
.btn-primary {
    background-color: green !important;
    border-color: green !important;
    color: white !important
}
article.comment {
    border-left: 1px solid green !important;
    border-bottom: 0px !important
}
div.comment-itself > header {
    background-color: #222;
    color: #004000 !important
}
div.comment-text > blockquote,
blockquote p,
code,
pre {
    background-color: #111 !important;
    color: #444 !important
}
textarea,
select {
    background-color: #222 !important;
    color: green !important
}
textarea:focus,
select:focus {
    border-color: green !important
}
menu {
    border: 0px !important
}
li.active a {
    border-color: green !important
}
.topic-voting,
.btn-sm {
    border-color: green;
    color: green
}
.topic-voting:hover,
.btn-sm:hover,
.btn-used {
    border-color: green;
    color: white;
    background-color: green
}
.is-topic-official {
    border-left-color: green !important
}
.topic-icon {
    border-color: green !important
}

/* Highlight own comments by https://tildes.net/user/Stone-D */
.is-comment-mine > .comment-itself {
    border-left: 3px solid green !important;
}
.is-comment-mine > .comment-itself > header {
    background: green !important;
}
p {
    max-width: 95%;
    text-align: justify;
}
#sidebar {
    min-width: 250px;
    width: 250px;
}

/* Add scan lines from https://github.com/dnbard/brackets-old-terminal/blob/master/old-terminal.css */
main:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: -webkit-linear-gradient(#14D20A 50%, #000 50%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity: .09;
    box-shadow: inset 0px 0px 10px 10px rgba(0, 0, 0, .8);
    border-radius: 20px;
    z-index: 1;
    pointer-events: none;
}
main:after {
    content: '';
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

/* Hide tags and fix profile page by https://tildes.net/user/apoctr */
.comment-tags li {
    display: none;
}
.comment-tags::after {
    content: "Tags hidden";
    font-size: 10px;
    display: inline;
}
.comment-tags:hover::after {
    display: none;
}
.comment-tags:hover li {
    display: inline;
}

/* Hide username to the right of Tildes logo when on own userpage */
.site-header-context[href="/user/rorso"] {
    display: none;
}